<!DOCTYPE html>
<html lang="en">
<head>
    <title>About Auris</title>
    <link rel="stylesheet" href="/static/css/about.css">
    <link href='https://fonts.googleapis.com/css?family=Unica One' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/images/iconwhite.png">
</head>
<body>
       <img src = "/static/images/iconwhite.png" arc ="" style="position:absolute; left:0px; top: 250px">
       <div class = "div div1">
            <h1>Our Vision</h1>
       </div>
       <div class = "div div2">
            <h2>Upload a .pdf file to hear your notes and readings!</h2>
       </div>
       <header>Welcome to Auris!</header>
       <p id="desc">Auris was created to help make online learning more accessible for students. By creating a simple way to listen to readings and notes in a PDF format. it is no secret that hearing is an essential part of learning; we aim to help students have the most efficient and accessible learning possible even while learning continues online!</p>
       <a href="/"><p id='home'>Home</p></a>
       <a href="/upload_file"><p id="upload">File Upload</p></a>

</body>
</html>
