<!DOCTYPE html>
<html lang="en">
<head>
    <title>Auris</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <link href='https://fonts.googleapis.com/css?family=Unica One' rel='stylesheet'>
    <link rel="shortcut icon" href="/static/images/iconwhite.png">
</head>
<body>
        <header>
            <img src="/static/images/icon.png" class="logo" alt="">
        </header>
        <div class = "div div1"></div>
        <div class = "div div2"></div>
        <div class = "div div3"></div>
        <div class = "div div4"></div>
        <a href="/aboutpage">
        <img src="/static/images/leftear.png" arc="no" class = "button img1">
        </a>
        <a href="upload_file">
        <img src="/static/images/rightear.png" arc="no" class = "img img2">
        </a>
        <h1 class = "h1 left">New to Auris?</h1>
        <h1 class = "h1 right">Been here before?</h1>
        <p class = "p leftp">Learn how to get started!</p>
        <p class = "p rightp">Get Listening!</p>
</body>
</html>